.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding-left: 0px;
  padding-right: 0px; 
}

.container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;   
}