.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}